{% extends 'base.html' %}

{% block content %}
<head>
	<title>Contact V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>

<div class="wrapper">
	<div class="news-container">
		NEWS
	</div>
	<div class="curr-table-container">
		<table class="table table-striped" id="currency-table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Waluta</th>
					<th scope="col">Kurs</th>
				</tr>
			</thead>
		{% for curr in serialize %}
				<tr>
					<td>{{ curr.currency }}</td>
					<td>{{curr.mid}}</td>
				</tr>
		{% endfor %}
		</table>
	</div>
	
</div>

{% endblock %}