{% extends 'base.html' %}
{% block content %}

<html lang="en">

<head>
    <title>Contact V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/currency-exchanger.css">

</head>

<body>
    <div class="wrapper">
        <div class="work-container">
            <div class="charts">tu bendom wykresy</div>
            <div class="currencies-container">
                <div class="current-date"></div>
                <ul class="currencies"></ul>
                <div class="add-currency-btn">
                    <p class="avers">Add Currencies</p>
                    <img class="revers" src="../static/img/arrow-up.svg"></img>
                </div>
                <div class="add-currency-list-container">
                    <p class="add-currency-list-header">add currency</p>
                    <ul id="add-currency-list"></ul>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="../static/currency-exchanger.js"></script>
</body>

</html>

{% endblock %}